<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>About us</title>
    </head>
    <body>
        <div class="text-center mark">
            <h1>
            Our Adress:
            </h1>
            <h2>
                518 Butternut Lane Hoffman, IL 62801<br>Monday - Suturday: 8am - 8pm
            </h2>
            <h1>
                Our Contacts:
            </h1>
            <h2>
                +1 618-495-5239<br>Telegram: @CarDealers
            </h2>
    </body>
</html>