<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Car Dealers™</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <div class="rightalign">
                        <div class="dropdown">
                            <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a>
                            <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                            <a class="dropbtn" href="#">{{ user.first_name }}({{ user.username }})</a>
                            <div class="dropdown-content">
                                <a href="{% url 'djangoapp:logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <li>
                        <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                        <form action="{% url 'djangoapp:registration' %}" method="get">
                            <input class="dropbtn"  type="submit" value="Visitor">
                            <div class="dropdown-content">
                                <a href="{% url 'djangoapp:registration' %}">Signup</a>
                                <a href="{% url 'djangoapp:login' %}">Login</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <form action="{% url 'djangoapp:login' %}" method="post">
            {% csrf_token %}
            <div class="container">
              <h1>Login</h1>
              <div class="form-group">
                <label for="username"><b>User Name</b></label>
                <input id="username" class = "form-control" type="text" placeholder="Enter User Name: " name="username" required>
                <label for="password"><b>Password</b></label>
                <input id="password" class = "form-control" type="password"  placeholder="Enter Password: " name="password" required>
              </div>
              {% if message %}
                <div class="alert alert-warning">
                  {{ message }}
                </div>
              {% endif %}
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </form>
    </body>
</html>
